html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

nav .brand-logo {
  margin-left: 10px;
}

.collection {
  border: unset;
}
.collection .collection-item {
  background: none;
}

.section {
  padding: 10px;
}